.home-content {
  display: flex;
  margin-left: 5rem;
  width: 100%;
}

.home-content p {
  font-size: 2rem;
  margin: 1rem 0;
}

.home-left {
  display: flex;
  flex-direction: column;
}

.home-right {
  display: flex;
  justify-content: center;
  width: 100%;
}

.avatar {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.795);
}