#navbar {
  position: fixed;
  z-index: 5;
  left:30px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 0%;
}

#navbar ul li {
  width: 0;
  position: relative;
  pointer-events: auto;
}

#navbar ul li .dot {
  color: #fff;
  display: block;
  padding: 3rem 0;
}

#navbar ul li .dot span {
  display: inline-block;
  background: #ff4d5a;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 7px;
  transform: translateX(-30px);
  opacity: 0;
  transition: .25s ease-in-out;
}

#navbar ul li:hover .dot span {
  transform: translateX(0px);
  opacity: 1;
}

#navbar ul li .dot span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-7px, -50%);
  border-right: 7px solid #ff4d5a;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
}

#navbar ul li .dot::before,
#navbar ul li .dot::after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: block;
  transition: 0.25s ease-out;
  box-shadow: 0 2px 5px rgb(0 0 0 / 80%);
}

#navbar ul li .dot::before {
  height: 0.5rem;
  width: 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  left: 0;
  transform: translateY(-50%);
}

#navbar ul li .dot.active::before,
#navbar ul li:hover .dot::before {
  border-color: #ff4d5a;
  background: #ff4d5a;
}

#navbar ul li .dot::after {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid rgb(255, 255, 255);
  left: -0.5rem;
  transform: translateY(-50%) scale(0);
}

#navbar ul li .dot.active::after,
#navbar ul li:hover .dot::after {
  transform: translateY(-50%) scale(1);
}